@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&amp;family=Roboto:wght@400;500&amp;display=swap");

body {
    font-family: 'airbut'; 
       color:white;
    font-size: 15px;
    
}

a {
    text-decoration: none;
    outline: none
}

p {
    line-height: 1.6
}

.navbar {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 20px 0px
}


@media (max-width: 991.98px) {
    .navbar .navbar-brand .logo-light {
        display: none
    }

    .navbar .navbar-brand .logo-dark {
        display: block
    }
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        font-family: "Roboto", sans-serif
    }

}

@media (max-width: 991px) {
    .navbar {
        padding: 12px 0px;
        background-color: #fff
    }
}

.btn {
    padding: 12px 34px;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}


.btn-secondary {
    background: #FF7F51;
    border-color: #FF7F51 !important
}

.btn-outline-secondary {
    color: #FF7F51;
    border-color: #FF7F51
}



.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative
}

.fs-12 {
    font-size: 12px
}
.fs-13 {
    font-size: 13px
}

.fs-14 {
    font-size: 14px
}

.fs-15 {
    font-size: 15px
}

.fs-16 {
    font-size: 16px
}

.fs-17 {
    font-size: 17px
}

.fs-18 {
    font-size: 18px
}

.fs-19 {
    font-size: 19px
}

.fs-20 {
    font-size: 20px
}

.fw-medium {
    font-weight: 500
}

.fw-semibold {
    font-weight: 600
}



.bg-overlay {
    position: absolute;
    background-color: rgba(42, 48, 59, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.form-control {
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid rgba(42, 48, 59, 0.2)
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(42, 48, 59, 0.3)
}

input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #ced4da
}

input::-moz-placeholder,
.form-control::-moz-placeholder {
    color: #ced4da
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: #ced4da
}

input:-moz-placeholder,
.form-control:-moz-placeholder {
    color: #ced4da
}



@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important
    }
}


@keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.bg-home {
    padding: 180px 0;
    background-color: rgba(37, 88, 171, 0.05)
}

@media (max-width: 991.98px) {
    .bg-home {
        padding: 140px 0 95px
    }
}

.home-center {
    display: table;
    width: 100%;
    height: 100%
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle
}

.bg-home2 {
    padding: 180px 0 150px 0;
    background: linear-gradient(135deg, #2558ab, #11b9e8 100%)
}

.bg-home2 .bg-overlay {
    /* background: url("../images/home/home2-bg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.home-content {
    position: relative;
    z-index: 1
}

.bg-home3 {
    padding-top: 168px;
    position: relative;
    background-color: #2558ab
}



.bg-home4 {
    padding: 230px 0 215px 0;
    background: #f8f9fa
}

@media (max-width: 991.98px) {
    .bg-home4 {
        padding: 170px 0 95px 0
    }
}
body{
    background-color: black;
}
.bg-home4 .bg-overlay {
    /* background: url("../images/home/home4-bg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:  #01212e !important;
    color:white;
}

.bg-home5 .bg-overlay {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.5)), to(transparent));
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 30%, transparent)
}

.hero-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width: 767.98px) {
    .bg-home6 {
        padding: 225px 0 220px 0
    }
}

.bg-home6 .bg-overlay {
    background-color: rgba(0, 0, 0, 0.7)
}

iframe {
    max-width: 100%;
    border: 9px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px 5px 5px
}

.service-box {
    padding: 28px 29px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.service-box .service-icon {
    font-size: 44px;
    color: #f0473e;
}

.service-box .service-content p {
    color: #9da9bb
}

.service-box .service-content a {
    color: #f0473e
}

.service-box:before {
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1
}

.service-box:after {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1
}

.service-box:hover {
    color: #fff
}

.service-box:hover .service-icon {
    color: black;
}

.service-box:hover .service-content {
    color: rgb(61, 57, 57)
}

.service-box:hover .service-content p {
    color: rgba(5, 4, 4, 0.7)
}

.service-box:hover .service-content a {
    color: black;
}

.service-box:hover:before {
    height: 100%;
    width: 100%;
    background-color: black
}

.text-color{
    color: #f0473e !important;
}

.text-muted {
    color: #9da9bb;
}
@media (min-width: 992px) {
    .cta-img {
        position: relative
    }

    .cta-img::before {
        content: "";
        position: absolute;
        background-color: rgba(42, 48, 59, 0.07);
        right: -40px;
        width: 60px;
        height: 2px;
        top: 50%
    }
}

.footer {
    padding: 60px 0 45px;
    position: relative
}

.footer .company-sub-menu li {
    padding: 8px 0
}

.footer .company-sub-menu li a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #9da9bb
}

.footer .company-sub-menu li a:hover {
    color: #2558ab;
    margin-left: 5px
}

.footer-social-list a {
    border: 1px solid #d9dee5;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #bbc3d0;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer-social-list a:hover {
    background: #2558ab;
    color: #fff;
    /* border-color: #2558ab; */
    -webkit-box-shadow: 0 0 2px 7px rgba(37, 88, 171, 0.15);
    box-shadow: 0 0 2px 7px rgba(37, 88, 171, 0.15)
}

/*# sourceMappingURL=style.min.css.map */


.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
#LogoText {
    color: white;
    font-size: 28px;
        font-weight: 800;
    text-transform: uppercase;
    /* background: -webkit-linear-gradient(#eee, rgb(255, 254, 254)); */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent */
}
.btn-primary{
 background: #f0473e !important;
}

.service-box:hover:before {
    background-color: white !important; 
    color :black !important;
}
.service-box:hover:before {
    color :black ;
}
#LogoText  span {
  font-size: 2.5rem;
}
#LogoText {
    font-size: 2rem;
  }
  .navbar{
    background: #01212e;
    

  }
/* service icon */
  .iconSize{
    font-size: 52px;
    color: #f0473e;

  }

  .language-icon{
      display: flex;
      font-size: 20px;  
      color: #fff;
  }
 

/* google translate */

  .goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 

    .goog-logo-link {
        display:none !important;
    } 
        
    .goog-te-gadget{
        color: transparent !important;
    }
    .goog-te-combo{
        background-color: black;
        color:   white;
        /* margin: 7px; */
        margin-left: -4px;
        border: 2px solid white;
    }
    .goog-te-gadget .goog-te-combo {
        margin: 8px 0 !important;
    }